  
/* MEDIA QUERIES:  */

/* @media all and (max-width:1440px) {
  .bg-img {
    width: 1450px;
  }
  h1 {
    font-size: 5em;
  }
}

/* @media screen and (max-width: 500px) {

    .first-img {
        width: 20%;
    }
} */



body {
  background-color: #cccccc;
  margin: 0;
  padding: 0;
  height: 100%;
 }

 /* .img-deets {
  max-width: 100%;
  height: auto;
 } */
 
 .bg-img-index {
  background-color: rgb(197, 225, 250);
  background-image: url("/images/background.jpg");
  /* background-attachment: fixed; */
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 } 

.bg-img-leonor {
  background-color: rgb(197, 225, 250);
  background-image: url("/images/leonor-page-background.jpg");
  background-attachment: fixed;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 } 

 .bg-img-tamara {
  background-color: rgb(197, 225, 250);
  background-image: url("/images/tam-vamp-pg-background.jpg");
  background-attachment: fixed;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 .bg-img-info {
  background-color: rgb(197, 225, 250);
  background-image: url("/images/Info\ General\ Idea\ Page.jpg");
  background-attachment: fixed;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 .text-center {
  text-align: center;
 }

 .text-wrapper {
  background-color: none;
  /* border: solid black 5px; */
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 150px 180px 100px 100px;
  margin: 0;
  text-align:right;
 }

h1 {
  font-size: 2em;
}

.flex-div-left {
  
  outline: none;
}

.flex-img-leo {
  display: flex;
  justify-content: left;
  height: 200px;
  padding: 75px 650px 200px 150px;
  outline: none;
}

.flex-div-right {
  display: flex;
  outline: none;
}
.flex-img-tam {
  display: flex;
  justify-content: right;
  height: 250px;
  padding: 100px 120px 100px 700px;
  outline: none;
}

.flex-div-bottom-left {
  display: flex;
  outline: none;
}
.flex-img-info {
  display: flex;
  text-decoration: none;
  justify-content: left;
  height: 275px;
  padding: 100px 650px 100px 150px;
  outline: none;
  }
  
  a {
    text-decoration: none;
    border: none;
    outline: none;
  }

  .container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/* 
  .flex-1 {
    flex: 5%;
  }

  .flex-2 {
    flex: 5%;
  }

  .flex-big-item {
    flex: 90%;
  } */

.container {
    max-width: 1440px;
    /* width: auto; */
    margin: 0 auto;
  }

.large-img {
    max-width: 100%;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding: 1rem;
    margin: 1rem;
  }

/* Index Page = Container, Img and Button */

  .container-1 {
    position:relative;
    width: 100%;
    margin: 0;
}

.index-img {
    width: 100%;
    height: auto;
    display: inline-block;
}


/* Style the button and place it in the middle of the container/image */
.btn {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  font-family:'Courier New', Courier, monospace;
  color: white;
  font-size: 1em;
  padding: 1rem 2rem;
  border: solid white 2px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(90, 50, 22);
}

/* Audio styling:  */
audio::-webkit-media-controls-panel {
  background-color: #faf08a;
  align-items: center;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #B1D4E0;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

/* Media queries */

@media all and (max-width:500px) {
  .btn {
    font-size: 0.6em;
    /* padding: 1rem 1.7rem; */
  }
}

@media all and (max-width:350px) {
  .btn {
    font-size: 0.5em;
    /* padding: 1rem 1.7rem; */
  }
  
}
























